body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-color: #222222;
    height: 100vh;
    /* background-image: url("/R.jpeg"); */
}
.login-container {
    border: 5px;
    border-radius: 8px;
    box-shadow: 5px 5px 10px;  
    height: 450px;
    width: 400px;
    text-align: center;
    background-color:grey;
}
.login-container:hover{
    transform: scale(1.1);
    transition:0.3s;
}
.login-container h2 {
    margin-bottom: 20px;
}
.login-input {
    width: 90%;
    padding: 7px;
    margin-bottom: 15px;
    border-radius: 10px;
    background-color:whitesmoke;
}
.login-btn {
    background-color:black;
    color: #ffffff;
    border: none;
    padding: 9px 17px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 35px;
    padding-bottom: 10px;
}
.login-btn:hover {
    background-color: #16232c;
   transform: scale(1.1);
    transition:0.1s;
}
h2{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bolder;
}
.gen{
    color: aliceblue;
    text-align: left;
    padding-left: 10px;
}
h5{
    color: white;
}
span{
    color: blue;
    cursor: pointer;
}
